.home-container {
  width: 100%;
  height: fit-content;
}



.introduction {
  display: flex;
  flex-direction: column;
  background-color: #0693e3;
  padding-top: 8%;
  padding-bottom: 10%;
  justify-content: center;
}

.Welcome {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.Welcome-text {
  display: flex;
  justify-content: center;
  font-size: large;
  color: white;
  padding-top: 2%;
}
.Welcome-text1 {
  display: flex;
  justify-content: center;
  font-size: large;
  color: white;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.input {
  width: 25%;
  height: 40px;
  border: 1px solid black;
  box-shadow: black;
}

.search-button {
  width: 43px;
  height: 43px;
  background-color: rgb(120, 255, 120);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(87, 179, 87);
  transition: 0.5s;
}

.inside-page-intro {
  line-height: 1.2;
  text-transform: uppercase;
  font-style: normal;
  font-family: "Barlow", sans-serif;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.inside-page1 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  gap: 50px;
}

.example {
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.example img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 290px;
}
.example button {
  margin-top: 10px;
}
.page2 {
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.first-part {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Imagine {
  width: 700px;
}
.Imagine-text {
  width: 700px;
}
.second-part {
  width: 700px;
}
.Long {
  width: 700px;
}
.Long-text {
  width: 700px;
}