.home-container {
  width: 100%;
  height: fit-content;
}



.introduction {
  display: flex;
  flex-direction: column;
  background-color: #0693e3;
  background-image: url(../photos/licensed-image.png);
  background-size: 61%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 8%;
  padding-bottom: 10%;
  justify-content: center;
}

.Welcome {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: black;
}

.Welcome-text {
  display: flex;
  justify-content: center;
  font-size: large;
  color: black;
  padding-top: 2%;
}

.Welcome-text1 {
  display: flex;
  justify-content: center;
  font-size: large;
  color: black;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 25%;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid black;
  box-shadow: black;
}
.search-img {
  padding-left: 5%;
  width: 80%;
  height: 100%;
  background-color: transparent;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
}
input {
  width: 100%;
  height: 36px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50px 0px 0px 50px
}

.search-button {
  width: 15%;
  height: 100%;
  background-color: gray;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
}
::placeholder {
  padding-left: 3%;
  color: black;
  font-size: 20px;
}
.search-button:hover {
  background-color: rgb(87, 179, 87);
  transition: 0.5s;
}

.inside-page-intro {
  line-height: 1.2;
  text-transform: uppercase;
  font-style: normal;
  font-family: "Barlow", sans-serif;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.inside-page1 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  gap: 50px;
}

.example {
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.example img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 290px;
}

.example button {
  margin-top: 10px;
}

.page2 {
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
  background-image: linear-gradient(135deg, green, brown, blue);
  color: white;
  padding-bottom: 100px;
}

.first-part {
  width: 700px;
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.first-part-text {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Imagine {
  width: 700px;
  font-size: xx-large;
}

.Imagine-text {
  width: 700px;
  display: flex;
  flex-direction: column;
}

.second-part {
  width: 700px;
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.second-part-text {
  width: 700px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.Long {
  width: 700px;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
}

.Long-text {
  width: 700px;
  display: flex;
  flex-direction: column;
}

.second-page-photo1 {
  width: 256px;
  height: 384px;
}

.second-page-photo2 {
  width: 256px;
  height: 256px;
  margin-top: 100px;
}

.page3 {
  color: gray;
}

.page3-title {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.fact-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  padding-bottom: 60px;
}

.question {
  font-size: x-large;
  width: 250px;
  color: rgb(0, 0, 0);
}

.answers {
  display: flex;
  flex-direction: column;
  width: 700px;
  font-size: large;
  gap: 20px;

}

.fact-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  padding-bottom: 200px;
}
