.home-container {
    width: 100%;
    height: fit-content;
  }
  
  .hamburger {
    display: none;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
  ul {
    list-style-type: none;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  .header {
    background-color: rgb(0, 255, 238);
  }
  .inside-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-flow: nowrap;
    justify-content: space-between;
    height: 70px;
    z-index: 10;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .inside-header img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .piece {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      color: black;
  }
  
  .introductionlive {
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom, #00ffee, #0693e3);
    padding-top: 8%;
    padding-bottom: 10%;
    justify-content: center;
  }
  
  .Welcome {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    flex-wrap: wrap;
    background-image: linear-gradient(to left, lime, green);
    background-clip: text;
    color: transparent;
  }
  
  .Welcome-text {
    display: flex;
    justify-content: center;
    font-size: large;
    color: white;
    padding-top: 2%;
  }
  .Welcome-text1 {
    display: flex;
    justify-content: center;
    font-size: large;
    color: white;
  }
  
  .search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
  }
  
  .input {
    width: 25%;
    height: 40px;
    border: 1px solid black;
    box-shadow: black;
  }
  
  /* .search-button {
    width: 43px;
    height: 43px;
    background-color: rgb(120, 255, 120);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: rgb(87, 179, 87);
    transition: 0.5s;
  } */
  .bottom{
    width: 100%;
    background-color:#0693e3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .titlelive {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: 'Karla', sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: rgb(184, 183, 183);
  }
  .titletext1 {
    width: 80%;
    font-size: 35px;
    font-weight: bold;
  }
  .titletext2 {
    width: 75%;
    font-size: 25px;
  }
  .infotime {
    width: 80%;
  }
  .timeperiod1 {
    color: lime;
    font-size: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
    .timeperiod2 {
    color: lime;
    font-size: 30px;
        padding-top: 5%;
    padding-bottom: 5%;
  }
    .timeperiod3 {
    color: lime;
    font-size: 30px;
        padding-top: 5%;
    padding-bottom: 5%;
  }
@media only screen and (max-width: 1100px) {
  .header {
    padding: 0 50px;
  }
  .nav-bar {
    gap: 10px;
  }
}
@media only screen and (max-width: 950px) {
  .header {
    padding: 0 30px;
  }
  .piece {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 200px;
    height: 30px;
    padding-top: 10px;
    border-radius: 50px;
    color: black;
    background-color: transparent;
    display: block;
  }
  .piece:hover {
    background-color: aqua;
    transition: 0.2s;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #fefefe;
    margin: 6px 0;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(84, 205, 190);
    transition: 0.2s;
  }
  .nav-bar ul {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    opacity: 0;
  }
  .hamburger:target + .nav-bar{
    height: 450px;
  }
  .hamburger:target + .nav-bar ul {
    opacity: 1;
  }
}